body {
    font-family: 'Roboto', sans-serif;
    background-color: #e6f2ff; /* Light blue background */
    color: #333;
    margin: 0;
    padding: 0;
}

.resume-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #003366; /* Dark blue border */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #003366; /* Dark blue header */
    color: #fff;
    padding: 10px;
    border-radius: 8px;
}

.header-left h1, .header-left p {
    margin: 0;
}

.header-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Ensure positioning for file input */
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 2px solid #003366; /* Dark blue border around picture */
}

.file-input-hidden {
    display: none; /* Hide default file input */
}

.black-button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 14px;
}

.black-button:hover {
    background-color: #333;
}

.choose-file-container {
    position: absolute;
    bottom: 10px;
}

.content {
    display: flex;
    justify-content: space-between;
}

.left-column, .right-column {
    width: 48%;
}

h2 {
    color: #003366; /* Dark blue for section headers */
    border-bottom: 2px solid #003366; /* Blue line under each header */
    padding-bottom: 5px;
}

.controls {
    text-align: right;
    margin-top: 20px;
}

.red-button {
    background-color: #d9534f;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
}

.red-button:hover {
    background-color: #c9302c;
}

.form-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    display: none;
    background-color: #fff;
    border: 2px solid #003366; /* Dark blue border */
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="tel"],
.form-container textarea {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.generate-container {
    text-align: center;
    margin-top: 20px;
}

.generate-container .red-button {
    margin-top: 10px;
}
.button {
    padding: 10px 15px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.blue-button {
    background-color: #007bff;
    color: white;
}

.blue-button:hover {
    background-color: #0056b3;
}